<!-- Pantalla de carga con componente loading-spinner -->
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<!-- Barra de búsqueda -->
<div class="mb-5 ml-6" *ngIf="!isLoading">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
</div>

<!-- Lista de habitaciones -->
<div *ngIf="!isLoading" class="px-5">
  <div class="overflow-y-auto">
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <ng-container *ngFor="let habitacion of filteredHabitaciones">
        <app-card-diets
          *ngIf="!habitacion.isEmpty"
          [habitacion]="habitacion"
          (click)="onCardClick(habitacion.paciente.id, habitacion.habitacion_codigo)"
          class="fade-in"
        ></app-card-diets>

        <app-card-empty
          *ngIf="habitacion.isEmpty"
          [habitacion]="habitacion"
          class="fade-in"
        ></app-card-empty>
      </ng-container>
    </div>
  </div>
</div>
