<div class="lg:col-span-1 md:col-span-2">
  <a
    href="#"
    class="block max-w-[23rem] max-h-20 md:w-lg min-h-80 p-6 bg-white border border-gray-200 rounded-3xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <div>
      <h5
        class="mb-1 text-xl font-montserrat font-bold tracking-tight text-gray-900 dark:text-white"
      >
        #1234
      </h5>
    </div>
    <div class="flex justify-center items-center flex-col gap-4 mt-8">
      <div class="bg-blue-500 size-32 rounded-xl"></div>
      <p class="text-gray-700 dark:text-gray-400">
        Aquesta habitació està vuida.
      </p>
    </div>
  </a>
</div>
