<div class="min-h-screen grid grid-cols-2 bg-blue-50">
  <!-- Sección Izquierda (Formulario) -->
  <div class="flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-lg p-6 w-80 text-center">
      <div class="flex items-center justify-center mb-3">
        <img src="assets/saol_logo1.svg" alt="SAOL Logo" class="w-10 h-10" />
        <h1 class="text-lg font-bold text-gray-900 ml-2">SAOL</h1>
      </div>
      <p class="text-xs text-gray-500">El teu gestor de pacients</p>

      <form class="mt-4" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <!-- Campo Nº Auxiliar -->
        <div class="relative mb-3">
          <span
            class="absolute inset-y-0 left-3 flex items-center text-gray-400 text-sm"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              width="16"
              height="16"
              stroke-width="1.5"
            >
              <path d="M5 9l14 0"></path>
              <path d="M5 15l14 0"></path>
              <path d="M11 4l-4 16"></path>
              <path d="M17 4l-4 16"></path>
            </svg>
          </span>
          <input
            [(ngModel)]="num_trabajador"
            name="num_trabajador"
            required
            type="text"
            placeholder="Nº Auxiliar"
            class="w-full pl-8 pr-3 py-2 border border-gray-300 rounded-full bg-gray-100 text-gray-900 focus:ring-1 focus:ring-blue-200 focus:border-blue-200 text-xs"
          />
        </div>

        <!-- Campo Contraseña -->
        <div class="relative mb-3">
          <span
            class="absolute inset-y-0 left-3 flex items-center text-gray-400 text-sm"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              width="16"
              height="16"
              stroke-width="2"
            >
              <path
                d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
              ></path>
              <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
              <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
            </svg>
          </span>
          <input
            [(ngModel)]="contrasena"
            name="contraseña"
            required
            type="password"
            placeholder="Contraseña"
            class="w-full pl-8 pr-3 py-2 border border-gray-300 rounded-full bg-gray-100 text-gray-900 focus:ring-1 focus:ring-blue-200 focus:border-blue-200 text-xs"
          />
        </div>

        <button
          type="submit"
          class="w-full py-2 bg-blue-300 text-white rounded-full hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 transition duration-200 text-xs font-medium"
        >
          Entrar
        </button>
      </form>
    </div>
  </div>

  <!-- Sección Derecha (Ilustraciones) -->
  <div class="flex items-center justify-center bg-white">
    <img
      src="assets/drawings.svg"
      alt="Medical Icons"
      class="w-2/4 scale-140"
    />
  </div>
</div>
