<div class="w-full cursor-pointer">
  <div
    class="block w-full min-w-[18rem] max-w-full min-h-80 p-6 bg-primary-cream-light border border-primary-cream-dark rounded-3xl hover:bg-primary-cream"
  >
  <div class="grid grid-flow-col">
    <div class="inline-flex justify-start items-center">
      <h5
        class="mb-1 text-xl font-montserrat font-bold tracking-tight text-gray-900 inline-block"
      >
        #{{ habitacion.habitacion_codigo }}
      </h5>
      <!-- Alert -->
      <span class="mb-1 mx-1" *ngIf="habitacion.alerta">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#FC4747"
        >
          <path
            d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
          />
        </svg>
      </span>
    </div>
    <!-- Arrow -->
    <span class="justify-self-end mb-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="16px"
        fill="#1f1f1f"
      >
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
    </span>
  </div>

  <p class="text-m font-montserrat text-gray-700">
    {{ habitacion.paciente.nombre }} {{ habitacion.paciente.apellidos }}, {{ habitacion.paciente.edad }}
  </p>

    <div class="mt-4 flex flex-col gap-0.5 text-sm">
      <!-- Type -->
      <div>
        <span class="text-gray-400 ">Tipus: </span>
        <span class="text-gray-700 ">{{ habitacion.detalle.tipo_dieta || "-" }} </span>
      </div>

      <!-- Texture -->
      <div>
        <span class="text-gray-400 ">Textura: </span>
        <span class="text-gray-700 ">{{ habitacion.detalle.textura || "-" }} </span>
      </div>

      <!-- Prothesis -->
      <div class="inline-flex justify-start items-center">
        <span class="text-gray-400  mr-1">Pròtesi:</span>
        <span class="text-gray-700  inline-block mr-3">
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16px"
            viewBox="0 -960 960 960"
            width="16px"
            fill="#9DC384"
          >
            <path
              d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
            />
          </svg> -->
          {{ habitacion.detalle.protesis || "-" }}
        </span>
      </div>

      <!-- Assistance -->
      <div>
        <span class="text-gray-400 ">Asistència: </span>
        <span class="text-gray-700 ">{{ habitacion.detalle.asistencia || "-" }}</span>
      </div>

      <!-- Observations -->
      <div class="mt-2">
        <span class="text-gray-400 ">Observacions: </span>
      </div>

      <div>
        <span class="text-gray-700 line-clamp-3"
          >{{ habitacion.detalle.observaciones || "-" }}</span
        >
      </div>
    </div>
  </div>
</div>
