<nav class="navbar">
  <a routerLink="/rooms/general" routerLinkActive="active"
    ><img src="assets/saol_logo2.svg" alt="Frame"
  /></a>
  <a routerLink="/rooms/general" routerLinkActive="active">
    <img src="assets/general-icon.svg" alt="Frame" />
  </a>
  <div class="text-xs text-gray-400 mt-1">General</div>

  <a routerLink="/rooms/diets" routerLinkActive="active">
    <img src="assets/diet-icon.svg" alt="Frame" />
  </a>
  <div class="text-xs text-gray-400 mt-1">Dietes</div>

  <div *ngIf="actualRoom$ | async as actualRoom">
    <app-patient-data-nav-icons />
  </div>

  <a routerLink="alerts" routerLinkActive="active">
    <img src="assets/alert-icon.svg" alt="Frame" />
  </a>
  <div class="text-xs text-gray-400 mt-1">Alertes</div>

  <button (click)="logOut()" class="p-2">
    <img src="assets/log-out.svg" alt="Frame" />
  </button>
  <div class="text-xs text-gray-400 mt-1">Exit</div>
</nav>
