<nav class="navbar">
  <div class="mt-2">
    <a routerLink="/rooms/general" routerLinkActive="active">
      <div class="hover-circle p-2 mb-4">
        <img src="assets/saol_logo2.svg" alt="Frame" />
      </div>
    </a>
  </div>

  <div>
    <a
      routerLink="/rooms/general"
      routerLinkActive="active"
      class="flex flex-col items-center"
    >
      <img
        src="assets/general-icon.svg"
        alt="Frame"
        class="nav-style"
        tabindex="0"
      />
      <div class="text-xs text-gray-400 mt-2">General</div>
    </a>
    <a
      routerLink="/rooms/diets"
      routerLinkActive="active"
      class="flex flex-col items-center"
    >
      <img src="assets/diet-icon.svg" alt="Frame" class="nav-style" />
      <div class="text-xs text-gray-400 mt-2">Dietes</div>
    </a>

    <ng-container *ngIf="actualRoom$ | async as actualRoom">
      <div
        class="flex flex-col items-center opacity-0 translate-y-[-0.5rem] animate-fadeInDown"
        [ngStyle]="{
          'animation-delay': '200ms',
          'animation-fill-mode': 'forwards'
        }"
      >
        <app-patient-data-nav-icons />
      </div>
    </ng-container>

    <a
      routerLink="alerts"
      routerLinkActive="active"
      class="flex flex-col items-center"
    >
      <img src="assets/alert-icon.svg" alt="Frame" class="nav-style" />
      <div class="text-xs text-gray-400 mt-2">Alertes</div>
    </a>
  </div>

  <div class="absolute bottom-0 w-full text-center mb-3 max-w-xs">
    <button (click)="logOut()" class="p-2 hover:opacity-50 cursor-pointer">
      <img src="assets/log-out.svg" alt="Frame" />
    </button>
  </div>
</nav>
