<nav class="navbar">
  <a routerLink="/rooms/general" routerLinkActive="active"
    ><img src="assets/saol_logo2.svg" alt="Frame"
  /></a>
  <a routerLink="/rooms/general" routerLinkActive="active">General</a>
  <a routerLink="/rooms/diets" routerLinkActive="active">Diets</a>
  <a routerLink="alerts" routerLinkActive="active">Alerts</a>
  <a routerLink="care-data" routerLinkActive="active">Care</a>
  <a routerLink="medical-data" routerLinkActive="active">Medical</a>
  <a routerLink="personal-data" routerLinkActive="active">Personal</a>
</nav>
