/* Neutraliza el estilo por defecto del <select> */
.custom-select {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Modern browsers */
  background-position: right 1rem center;
  background-repeat: no-repeat;
}
