<div class="grid grid-cols-5 gap-2">
    <div>
        <a href="#"
            class="block max-w-sm min-h-64 p-6 bg-white border border-gray-200 rounded-3xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    
            <h5 class="mb-1 text-2xl font-montserrat font-bold tracking-tight text-gray-900 dark:text-white">#1234</h5>
            <p class="text-xl font-montserrat text-gray-700 dark:text-gray-400">John Doe Smith, 25 </p>
            <p class="font-work-sans text-gray-700 dark:text-gray-400">Motiu ingrés: Infart agut de miocardi</p>
            <p class="font-work-sans text-gray-700 dark:text-gray-400">Última modificació: Infart agut de miocardi</p>
        </a> 
    </div>
</div>