<div class="grid grid-cols-5 gap-4">
  <div class="lg:col-span-1 md:col-span-2">
    <a
      href="#"
      class="block max-w-[23rem] md:w-lg min-h-64 p-6 bg-white border border-gray-200 rounded-3xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <div>
        <h5
          class="mb-1 text-xl font-montserrat font-bold tracking-tight text-gray-900 dark:text-white"
        >
          #1234
        </h5>
        <p class="text-m font-montserrat text-gray-700 dark:text-gray-400">
          John Doe Smith, 25
        </p>
      </div>

      <div class="mt-2 flex flex-col gap-0.5 text-sm">
        <div>
          <span class="text-gray-700 dark:text-gray-400"
            >Última modificació:
          </span>
          <span class="text-gray-700 dark:text-gray-400">13/03/2025</span>
        </div>

        <div>
          <span class="text-gray-700 dark:text-gray-400">Auxiliar: </span>
          <span class="text-gray-700 dark:text-gray-400"
            ><b>1234</b>, Arnau C.</span
          >
        </div>

        <div>
          <span class="text-gray-700 dark:text-gray-400">Observacions: </span>
        </div>

        <div class="">
          <span class="max-h-20 text-gray-700 dark:text-gray-400"
            >Lorem, Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Impedit perspiciatis incidunt autem veniam architecto iure id eos
            et, iusto doloribus modi saepe excepturi ut praesentium sunt, aut,
            fuga maxime vero.</span
          >
        </div>
      </div>
    </a>
  </div>
</div>
