<div class="w-full">
  <div
    class="block w-full min-w-[18rem] max-w-full min-h-80 p-6 bg-grey-light border border-gray-200 rounded-3xl hover:bg-gray-100"
  >
    <div>
      <h5
        class="mb-1 text-xl font-montserrat font-bold tracking-tight text-gray-900"
      >
        #{{ habitacion.habitacion_codigo }}
      </h5>
    </div>
    <div class="flex justify-center items-center flex-col gap-4 mt-8">
      <div class="size-32 rounded-xl justify-center items-center flex">  
        <img src="assets/empty-icon.png" alt="Empty Icon">
      </div>
      <p class="text-gray-700 text-sm">
        Aquesta habitació està buida.
      </p>
    </div>
  </div>
</div>
