<div class="px-4">
  <div class="overflow-y-auto">
    <div
      class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <ng-container *ngFor="let habitacion of habitaciones">
        <app-card-general
          *ngIf="!habitacion.isEmpty"
          [habitacion]="habitacion"
          (click)="
            onCardClick(habitacion.paciente.id, habitacion.habitacion_codigo)
          "
        ></app-card-general>

        <app-card-empty
          *ngIf="habitacion.isEmpty"
          [habitacion]="habitacion"
        ></app-card-empty>
      </ng-container>
    </div>
  </div>
</div>
