<button
  class="flex flex-row items-center bg-primary-blue text-white rounded-full px-2 py-2 h-12 whitespace-nowrap button-style cursor-pointer"
  (click)="onClick ? onClick() : null"
>
  <span class="text-sm mx-2">{{ text }}</span>
  <div
    *ngIf="showIcon"
    class="bg-white text-primary-blue-dark rounded-full p-2 mx-1.5 flex items-center justify-center"
  >
    <ng-content select="[icon]"></ng-content>
  </div>
  <!-- <div
    *ngIf="showIcon"
    class="bg-white text-primary-blue-dark rounded-full p-2 mx-1.5 flex items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="12" y1="5" x2="12" y2="19"></line>
      <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
  </div> -->
</button>
