/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");


@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;

  --color-primary-blue: #8fb1e1;
  --color-primary-blue-dark: #2869c4;
  --color-primary-yellow: #ffe387;
  --color-primary-turquoise: #d6f0ec;
  --color-primary-cream: #fff2eb;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars globally if needed */
}
