/* You can add global styles to this file, and also import other style files */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Define variables in :root */
:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-work-sans: "Work Sans", sans-serif;
}

/* Use @layer to organize styles (optional) */
@layer theme {
    body {
        font-family: var(--font-montserrat);
    }
    /* Puedes agregar más reglas de estilo aquí */
}

/* Importación de Tailwind (ajustada) */
@tailwind base;
@tailwind components;
@tailwind utilities;