:host {
  display: block;
  width: 100%;
}

.text-gray-300 {
  color: #d1d5db;
}


.text-4xl {
  font-size: 2.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.font-bold {
  font-weight: 700;
}

.m-0 {
  margin: 0;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 40px;
  width: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
  color: #d1d5db;
  font-size: 32px;
  transition: color 0.3s;
}

.icon-button:hover .material-symbols-outlined {
  color: #4b5563;
}